<div class="reveal">

	<!-- Used to fade in a background when a specific slide state is reached -->
	<div class="state-background"></div>
	
	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
		<!-- #1 -->
		<section data-state="slidechanged">
			<div class="back_1">

			</div>	
			<script>
				$(document).ready(function(){
				
				});
			</script>
	</section>

	<!-- #2 -->
	<section data-state="slidechanged">
	<audio id="audio2" controls="">
	  <source src="https://s3.amazonaws.com/momentoteca/Caperucita2.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
	</audio>
		<div class="back_2">
			<h3 class="inverted">- Había una vez una niña que se llamaba Caperucita Amarilla</h3>
			<h3 class="inverted">- ¡No, Roja!</h3>
			<div id="caperucita" onclick="document.getElementById('audio2').play();"></div>
		</div>	
		<script>
		$('#caperucita').on('click', function(){
		console.log('ok');
		//$('#h3').addClass('animated bounceOutLeft');
		});

		</script>
	</section>

	<!-- #3 -->
	<section>
		<div class="back_3">
		<h3 class="inverted">- Eso, Caperucita Roja.</h3>
		</div>
	</section>

	<!-- #4 -->
	<section>			
		<div class="back_4">
			<h1></h1>
			<h3 class="inverted">..Mientras tanto en la escuela</h3>	
		</div>
	</section>	

	<section>		
		<h3 class="inverted">-!Que tontería!</h3>
		<div class="back_5">			
		</div>
	</section>
		
		<section>
			<h1>THE END</h1>
			<h3 class="inverted">Momentoteca</h3>
		</section>
	</div>

	<!-- The navigational controls UI -->
	<aside class="controls">
		<a class="left" href="#">&#x25C4;</a>
		<a class="right" href="#">&#x25BA;</a>
		<a class="up" href="#">&#x25B2;</a>
		<a class="down" href="#">&#x25BC;</a>
	</aside>

	<!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
	<div class="progress"><span></span></div>

</div>





